<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="com.oddmouse.plugins.locktask"
  version="1.0.0">
  <name>LockTask</name>
  <description>A Cordova plugin that provides access to Android’s screen pinning APIs.</description>
  <keywords>cordova,android,screen pinning,startLockTask,stopLockTask,lollipop,api 21</keywords>
  <license>MIT</license>
  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>
  <js-module src="www/LockTask.js" name="LockTask">
    <clobbers target="plugins.locktask" />
  </js-module>
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="LockTask">
        <param name="android-package" value="com.oddmouse.plugins.LockTask" />
		<param name="onload" value="true" />
      </feature>
    </config-file>
	
	<!--
	<edit-config file="AndroidManifest.xml" target="/manifest/application/activity[@android:label='@string/activity_name']" mode="merge">
		<activity android:name="com.oddmouse.plugins.LockTaskActivity" android:keepScreenOn="true" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
		</activity>
	</edit-config>
	-->
	
	<config-file target="AndroidManifest.xml" parent="/manifest/application/activity[@android:label='@string/activity_name']">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" /><!-- Handler of app icon (required to be launcher) -->
				<category android:name="android.intent.category.HOME" /><!-- Handler of Home button -->
			</intent-filter>
	</config-file>
	
	<config-file target="AndroidManifest.xml" parent="/manifest/application">
		<!-- autorun after the app APK is updated -->
		<receiver android:name="jk.cordova.plugin.kiosk.MyPackageReplacedEventReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
			</intent-filter>
		</receiver>
	</config-file>

	<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
			<uses-permission android:name="android.permission.REORDER_TASKS"/>
			<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	</config-file>
	
	<source-file src="src/android/com/oddmouse/plugins/LockTaskActivity.java" target-dir="src/com/oddmouse/plugins" />
	<source-file src="src/android/com/oddmouse/plugins/MyPackageReplacedEventReceiver.java" target-dir="src/com/oddmouse/plugins" />
	<source-file src="src/android/com/oddmouse/plugins/StatusBarOverlay.java" target-dir="src/com/oddmouse/plugins" />
    <source-file src="src/android/com/oddmouse/plugins/LockTask.java" target-dir="src/com/oddmouse/plugins"/>
  </platform>
</plugin>
